{% extends './base.html' %} <!-- 부모 클래스가 누구인지 말해준다 -->
{% load static %}

{% block date-block %}
  <div>{{date}}</div> <!-- view에서 넘겨받은 값으로 변환하는 템플릿 변수 이용 -->
{% endblock date-block %}

{% block food-container %}
  {% for menu in menus %} <!-- views에서 이미 menus 라는 queryset이 있기 때문에 여기 있는 원소들 출력하는 것이다.-->
    <div class="food">
      <img src={% get_static_prefix %}{{menu.img_path}} width="300px" height="200px"/>
      <div class="info">
        <h3>{{menu.name}}</h3>
        <P>{{menu.description}}</p>
        <a href='{{menu.id}}''>메뉴 보기</a>
      </div>
    </div>
  {% endfor %}
{% endblock food-container %}