{% extends './base.html'%}  {#base템플릿을 부모 템플릿으로 한다고 지정해주는,가장 첫줄에#}
{% load static %}

{% block date-block%}
<div>{{date}}</div>
{% endblock date-block%}


{% block food-container%}
    {% for menu in menus%}

    <div class="food">
        <img src={%get_static_prefix%}{{menu.img_path}} width="300px" height="200px" />
        <div class="info">
            <h3>{{menu.name}}</h3>
            <P>{{manu.description}}</p>
            <a href="{{menu.id}}">메뉴 보기</a>
        </div>
    </div>

    {% endfor %}
{% endblock food-container%}